/* CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  letter-spacing: 1px;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* My CSS */

/* Icons */

.heroIcon {
  color: #ffffff;
  margin: 1rem;
  transition: all 0.3s ease-in-out;
}
.heroIcon:hover {
  color: #27548a;
}
.fa-brands,
.fa-regular,
.fa-solid {
  transition: all 0.2s ease-in-out;
}

.fa-brands:hover,
.fa-regular:hover,
.fa-solid:hover {
  transform: translateY(-5px);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  font-size: 16px;
  font-family: DM Serif, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(16, 16, 22);
}

/* Nav */

.navbar.default {
  background-color: none;
  transition: all 0.5s ease-in-out;
}

.navbar.scrolled {
  background-color: #27548a;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
  transition: all 0.5s ease-in-out;
}

.navbar .brand {
  color: white;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  border-bottom: white 2px solid;
  transform: translateY(-5px);
}
/* Hero */
.heroContainer {
  height: 100vh;
  background-image: url(assets/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
}

#hero-image {
  border-radius: 15px;
}

.title,
.description {
  color: white;
}
#viewWork {
  background-color: #27548a;
  color: white;
  transition: all 0.3s ease-in-out;
}
#viewWork:hover {
  background-color: #173861;
  transform: translateY(-5px);
}
#contactBtn {
  border: #27548a 2px solid;
  background-color: none;
  color: white;
  transition: all 0.3s ease-in-out;
}
#contactBtn:hover {
  background-color: #27548a;
  color: white;
  transform: translateY(-5px);
}
/* About */

.aboutContainer {
  background-color: #ffffff;
}

.about {
  padding-top: 100px;
}

.aboutTitle {
  color: rgb(16, 16, 22);
}

.underLine {
  width: 50px;
  padding: 0 40px;
  border-top: #27548a 5px solid;
}

.aboutDescrip {
  color: rgb(98, 98, 102);
}
#iconBox {
  color: #27548a;
}
#achieve {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}
#achieve:hover,
.skillCard:hover,
.skillIconBox:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.075);
}

.achieve {
  color: rgb(16, 16, 22);
}

.achieves {
  color: #27548a;
}

/* Projects */

#projects {
  background-color: #f5f5f5;
}

.skillCard {
  background-color: #ffffff;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.tinyBox {
  width: 60px;
  height: 30px;
  background-color: #27548a;
}

.skillBox {
  width: 100px;
  height: 30px;
  background-color: #f5f5f5;
  color: #27548a;
  border-radius: 10px;
}

#darkBtn {
  border: #27548a 2px solid;
  background-color: none;
  color: #27548a;
  transition: all 0.3s ease-in-out;
}
#darkBtn:hover {
  background-color: #27548a;
  color: white;
  transform: translateY(-5px);
}

/* Skills */

.sideline {
  border-left: #27548a 5px solid;
}

.skillIcon {
  color: #27548a;
}
.skillIconBox {
  height: 100px;
  width: 110px;
  background-color: #f5f5f5;
  color: rgb(16, 16, 22);
  transition: all 0.2s ease-in-out;
}
.skillIconBox:hover {
  background-color: white;
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.75);
}
/* Education */
#education {
  background-color: #f5f5f5;
}
.eduBox {
  width: 120px;
  height: 30px;
  background-color: #27548a;
}
/* Contact */

.whatsApp,
.purple {
  color: #27548a;
}

footer {
  background-color: #173861;
  height: auto;
}
